<!DOCTYPE html>

<html lang="pt-br">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start':
            new Date().getTime(), event: 'gtm.js',
      });
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MJMKMRM');</script>
    <!-- End Google Tag Manager -->
    
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Consórcio de automóveis Pontual Rodobens</title>
    <meta name="description"
          content="Com o consórcio Pontual Rodobens, você pode conquistar o seu carro zero quilômetro mais rápido do que imagina.">
    <meta name="author"
          content="FMD">

    <link rel="preload"
          href="/fonts/Ronnia-Bold.woff2"
          as="font"
          type="font/woff2"
          crossorigin="">

    <link rel="preload"
          href="/fonts/Ronnia-Light.woff2"
          as="font"
          type="font/woff2"
          crossorigin="">

    <link rel="preload"
          href="fonts/Ronnia-Regular.woff2"
          as="font"
          type="font/woff2"
          crossorigin="">

    <link rel="preload"
          href="/fonts/Ronnia-Thin.woff2"
          as="font"
          type="font/woff2"
          crossorigin="">

    <!-- Site name, title, descriptions -->
    <meta property="og:site_name"
          content="Consórcio Pontual Rodobens"/>
    <meta property="og:title"
          content="Consórcio Pontual Rodobens"/>
    <meta property="og:description"
          content="Consórcio de automóveis Pontual Rodobens">

    <!-- image to display -->
    <meta property="og:image"
          itemprop="image"
          content="http://pontual.rodobens.com.br//images/logo-thumb.jpg"/>

    <!-- No need to change anything here -->
    <meta property="og:type"
          content="website"/>
    <meta property="og:image:type"
          content="image/jpeg">

    <!-- Size of image. Anything above 256 will not work in WhatsApp -->
    <meta property="og:image:width"
          content="256">
    <meta property="og:image:height"
          content="256">

    <!-- Website to visit when clicked in fb or WhatsApp-->
    <meta property="og:url"
          content="http://pontual.rodobens.com.br/"/>

    <style>
      @@font-face{font-family:Ronnia-Regular;src:url(../../wwwroot/fonts/Ronnia-Regular.woff2) format("woff2");font-weight:400;font-style:normal;font-display:swap}@@font-face{font-family:Ronnia-Bold;src:url(../../wwwroot/fonts/Ronnia-Bold.woff2) format("woff2");font-weight:400;font-style:normal;font-display:swap}@@font-face{font-family:Ronnia-Thin;src:url(../../wwwroot/fonts/Ronnia-Thin.woff2) format("woff2");font-weight:400;font-style:normal;font-display:swap}:root{--blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#3f6c59;--secondary:#586648;--success:#4a6b56;--info:#32a982;--warning:#e87929;--danger:#dc3545;--light:#d8d2ad;--dark:#283e30;--breakpoint-xs:0;--breakpoint-sm:425px;--breakpoint-md:1024px;--breakpoint-lg:1280px;--breakpoint-xl:1680px;--font-family-sans-serif:"Ronnia-Bold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}*,:after,:before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%}header,main,section{display:block}body{margin:0;font-family:Ronnia-Bold,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;font-size:1rem;font-weight:400;line-height:1.5;color:#fff;text-align:left;background-color:#586648}h1,h2,p{margin-top:0;margin-bottom:1rem}ul{margin-bottom:1rem}ul{margin-top:0}strong{font-weight:bolder}img{border-style:none}img,svg{vertical-align:middle}svg{overflow:hidden}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}h1,h2{margin-bottom:1rem;font-family:Ronnia-Bold;font-weight:500;line-height:1.2;color:#d8d2ad}h1{font-size:2.5rem}h2{font-size:2rem}.list-unstyled{padding-left:0;list-style:none}.img-sanitize{max-width:100%;height:auto}.container,.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@@media (min-width:425px){.container{max-width:964px}}@@media (min-width:1024px){.container{max-width:1024px}}@@media (min-width:1280px){.container{max-width:1268px}}.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.col-11,.col-lg-4,.col-lg-5,.col-lg-9,.col-md-10,.col-md-5,.col-md-7,.col-xl-3,.col-xl-4,.col-xl-8{position:relative;width:100%;padding-right:15px;padding-left:15px}.col-11{flex:0 0 91.6666666667%;max-width:91.6666666667%}@@media (min-width:1024px){.col-md-5{flex:0 0 41.6666666667%;max-width:41.6666666667%}.col-md-7{flex:0 0 58.3333333333%;max-width:58.3333333333%}.col-md-10{flex:0 0 83.3333333333%;max-width:83.3333333333%}}@@media (min-width:1280px){.col-lg-4{flex:0 0 33.3333333333%;max-width:33.3333333333%}.col-lg-5{flex:0 0 41.6666666667%;max-width:41.6666666667%}.col-lg-9{flex:0 0 75%;max-width:75%}}.d-none{display:none!important}.d-block,.img-sanitize{display:block!important}@@media (min-width:1024px){.d-md-block{display:block!important}}.justify-content-center{justify-content:center!important}.align-items-center{align-items:center!important}.position-relative{position:relative!important}.position-absolute{position:absolute!important}.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0}.img-cover{width:100%!important}.img-cover{height:100%!important}.mb-1{margin-bottom:.25rem!important}.mb-2{margin-bottom:.5rem!important}.mb-5{margin-bottom:3rem!important}.mb-0h{margin-bottom:.5rem!important}.mb-1{margin-bottom:1rem!important}.mb-2{margin-bottom:2rem!important}.mb-5{margin-bottom:5rem!important}.pt-1,.py-1{padding-top:.25rem!important}.py-1{padding-bottom:.25rem!important}.pt-2{padding-top:.5rem!important}.pt-1,.py-1{padding-top:1rem!important}.py-1{padding-bottom:1rem!important}.px-1q{padding-right:1.25rem!important}.px-1q{padding-left:1.25rem!important}.pt-2{padding-top:2rem!important}.py-2h{padding-top:2.5rem!important}.py-2h{padding-bottom:2.5rem!important}.pl-2h{padding-left:2.5rem!important}.pb-3h{padding-bottom:3.5rem!important}.py-3hq{padding-top:3.75rem!important}.py-3hq{padding-bottom:3.75rem!important}.img-sanitize,.mx-auto{margin-right:auto!important}.img-sanitize,.ml-auto,.mx-auto{margin-left:auto!important}@@media (min-width:1024px){.mb-md-0{margin-bottom:0!important}.mb-md-15{margin-bottom:15rem!important}.pr-md-2{padding-right:.5rem!important}.pb-md-0{padding-bottom:0!important}.px-md-1h{padding-right:1.5rem!important}.px-md-1h{padding-left:1.5rem!important}.pr-md-2{padding-right:2rem!important}.pt-md-4q{padding-top:4.25rem!important}.pt-md-6hq,.py-md-6hq{padding-top:6.75rem!important}.py-md-6hq{padding-bottom:6.75rem!important}}@@media (min-width:1280px){.ml-lg-0{margin-left:0!important}.mb-lg-4h{margin-bottom:4.5rem!important}}.text-center{text-align:center!important}@@media (min-width:1280px){.text-lg-left{text-align:left!important}}.text-uppercase{text-transform:uppercase!important}.font-weight-bold{font-weight:700!important}.text-white{color:#fff!important}.text-light{color:#d8d2ad!important}strong{font-family:Ronnia-Bold}body{background:linear-gradient(180deg,#586648,#4a6b56)}.regular-text{font-family:Ronnia-Regular,sans-serif}.bold-text{font-family:Ronnia-Bold,sans-serif}.thin-text{font-family:Ronnia-Thin,sans-serif}.fs-10{font-size:10px}.fs-16{font-size:16px}.fs-21{font-size:21px}.fs-28{font-size:28px}.fs-38{font-size:38px}.fs-70{font-size:70px}@@media (min-width:1024px){.fs-md-16{font-size:16px}.fs-md-24{font-size:24px}}p{font-size:1.125rem}.ic-logo{max-width:14rem;max-height:3.8125rem}@@media (min-width:1024px){.ic-logo{max-width:24.375rem;max-height:6.5rem}}.ic-bullet{max-width:1.875rem;max-height:1.75rem;left:0}.img-cover{-o-object-fit:cover;object-fit:cover}.lh-2{line-height:.5rem}.lh-1q{line-height:1.25rem}.lh-1hq{line-height:1.75rem}.lh-2{line-height:2rem}.lh-3h{line-height:3.5rem}@@media (min-width:1024px){.lh-md-2{line-height:.5rem}.lh-md-2{line-height:2rem}}@@media (min-width:1280px){.lh-lg-2hq{line-height:2.75rem}}*{letter-spacing:1px}.index .the-plan-car-icon-pontual{z-index:-1;position:absolute;top:47%;left:60%;transform:translate(-50%,-50%);width:31rem;height:20rem}.index .the-plan-car-bg-info:before{content:"";background:linear-gradient(0deg,#526143,#586547);position:absolute;top:0;right:0;height:100%;width:100%}@@media (min-width:1024px){.index .the-plan-car-bg-info:before{width:95%}}.index .pseudo-title-right{position:relative;display:inline-block}.index .pseudo-title-right:before{content:"";width:100%;height:2px;background:#d8d2ad;position:absolute;left:0;top:0}.index .pseudo-title-right:after{content:"";background:url(../../wwwroot/svg/pseudo-right.svg) no-repeat 100%;position:absolute;top:100%;left:0;width:100%;height:3.85rem;background-size:cover}.header .product-bg{position:absolute;top:0;left:0;right:0}@@media (min-width:1280px){.header .product-bg{position:unset}}@@media (min-width:1280px){.header .banner-content{position:absolute;top:0;left:0;right:0}}.header-form{background:rgba(63,108,89,.95);min-height:36.828125rem}.header-title{margin-bottom:20rem}@@media (min-width:321px){.header-title{margin-bottom:25rem}}@@media (min-width:768px){.header-title{margin-bottom:55rem}}@@media (min-width:1024px){.header-title{margin-bottom:70rem}}.header-form{border-bottom-left-radius:1.25rem;border-bottom-right-radius:1.25rem}
    </style>

    
    
    <!-- inicio PWA -->
    <link rel="manifest" href="manifest.json"/>
    <link rel="apple-touch-icon" sizes="192x192" href="/images/apple-touch-icon.png"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#FFFFFF"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="theme-color" content="#3F6C59"/>

    <!-- IOS -->
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-title" content="PWA"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <!-- fim PWA -->

    <link rel="preload"
          href="/css/frontend.css"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript>
        <link rel="stylesheet"
              href="/css/frontend.css"/>
    </noscript>
    <script>
      /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
      !function (t) {
        'use strict';
        t.loadCSS || (t.loadCSS = function () {
        });
        var e = loadCSS.relpreload = {};
        if (e.support = function () {
          var e;
          try {
            e = t.document.createElement('link').relList.supports('preload');
          } catch (t) {
            e = !1;
          }
          return function () {
            return e;
          };
        }(), e.bindMediaToggle = function (t) {
          var e = t.media || 'all';

          function a() {
            t.addEventListener
                ? t.removeEventListener(
                'load',
                a,
                )
                : t.attachEvent && t.detachEvent('onload', a), t.setAttribute(
                'onload',
                null,
            ), t.media = e;
          }

          t.addEventListener
              ? t.addEventListener(
              'load',
              a,
              )
              : t.attachEvent && t.attachEvent(
              'onload',
              a,
          ), setTimeout(function () {
            t.rel = 'stylesheet', t.media = 'only x';
          }), setTimeout(
              a,
              3e3,
          );
        }, e.poly = function () {
          if (!e.support()) {
            for (var a = t.document.getElementsByTagName('link'), n = 0; n < a.length; n++) {
              var o = a[n];
              'preload' !== o.rel || 'style' !== o.getAttribute('as') || o.getAttribute(
                  'data-loadcss') || (o.setAttribute(
                  'data-loadcss',
                  !0,
              ), e.bindMediaToggle(o));
            }
          }
        }, !e.support()) {
          e.poly();
          var a = t.setInterval(e.poly, 500);
          t.addEventListener
              ? t.addEventListener(
              'load',
              function () {
                e.poly(), t.clearInterval(a);
              },
              )
              : t.attachEvent && t.attachEvent(
              'onload',
              function () {
                e.poly(), t.clearInterval(a);
              },
          );
        }
        'undefined' != typeof exports
            ? exports.loadCSS = loadCSS
            : t.loadCSS = loadCSS;
      }('undefined' != typeof global
          ? global
          : this);
    </script>

    <!--LGPD-->
    <script src="https://config.metomic.io/config.js?id=prj:fb24797b-3184-4027-9350-bbd84256f3b5"
            crossorigin
            charset="utf-8"></script>
    <script src="https://consent-manager.metomic.io/embed.js"
            crossorigin
            charset="utf-8"></script>
</head>


<body>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJMKMRM"
            height="0"
            width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<header id="header" class="pb-3h pb-md-0 header position-relative">
    <picture class="product-bg">
        <source media="(min-width: 1440px)"
                srcset="/images/img-banner-xl.jpg,
                    /images/img-banner-xl@2x.jpg 2x"/>
        <source media="(min-width: 1280px)"
                srcset="/images/img-banner-md.jpg,
                    /images/img-banner-md@2x.jpg 2x"/>
        <img src="/images/img-banner.jpg"
             srcset="/images/img-banner@2x.jpg 2x"
             alt="Banner informando para ter carro 0KM a partir da 6 entrada, acompanhando por uma ilustração do carro Corolla"
             title="Consórcio Pontual Rodobens"
             class="img-cover"/>
    </picture>
    
    <div class="banner-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="pt-1 pt-md-4q">
              <svg role="img"
                   class="mb-0h ml-lg-0 img-sanitize ic-logo">
                <use xlink:href="/svg/sprite.svg#logo"></use>
              </svg>
              <h1 class="mb-lg-4h mb-xl-6h regular-text font-weight-bold text-uppercase fs-10 fs-md-16 fs-xl-18 text-white lh-1q text-center text-lg-left header-title">
                <span class="sr-only">Consórcio Pontual Rodobens - </span>
                No seu tempo, no seu momento, você conquista.
              </h1>
              <ul class="mb-1 mb-md-15 pb-xl-18 pr-md-2 list-unstyled">
                <li class="position-relative">
                  <svg role="img"
                       class="position-absolute ic-bullet">
                    <use xlink:href="/svg/sprite.svg#ic-bullet"></use>
                  </svg>
                  <p class="pl-2h fs-16 fs-md-24 lh-1hq lh-md-2 text-uppercase">
                    <span class="d-block">Antecipe o seu carro 0km</span>
                    a partir da 6ª parcela paga*
                  </p>
                </li>
                <li class="position-relative">
                  <svg role="img"
                       class="position-absolute ic-bullet">
                    <use xlink:href="/svg/sprite.svg#ic-bullet"></use>
                  </svg>
                  <p class="pl-2h fs-16 fs-md-24 lh-1hq lh-md-2 text-uppercase">
                    60 meses para pagar
                  </p>
                </li>
                <li class="position-relative">
                  <svg role="img"
                       class="position-absolute ic-bullet">
                    <use xlink:href="/svg/sprite.svg#ic-bullet"></use>
                  </svg>
                  <p class="pl-2h fs-16 fs-md-24 lh-1hq lh-md-2 text-uppercase">
                    <span class="d-block">CRÉDITOS DE R$ 25.000,00</span>
                    a R$ 297.000,00
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="ml-auto col-lg-4 col-xl-3">
            <div class="px-1q py-2h px-md-1h px-xl-3 pt-xl-5 header-form">
              <h2 class="fs-28 fs-xl-27 text-uppercase text-white text-center">
                faça uma simulação
              </h2>
              <!--[if lte IE 8]>
              <script charset="utf-8"
                      type="text/javascript"
                      src="//js.hsforms.net/forms/v2-legacy.js"></script>
              <![endif]-->
              <script charset="utf-8"
                      type="text/javascript"
                      src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                  portalId: '499216',
                  formId: '65cea871-8b46-468f-a278-1738d7eadca3',
                  css: '',
                  onFormReady: function ($form, ctx) {
                    console.log('iniciou formulario');
                  },
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

</header>


<main class="index">
  @RenderBody()
</main>

<footer class="footer text-center block-spacer-y">
  <div class="container">
    <svg role="img"
         class="mb-2h img-sanitize ic-logo-footer">
      <use xlink:href="/svg/sprite.svg#logo"></use>
    </svg>
    <p class="mb-2h regular-text fs-18 fs-xl-22 ls-0h text-uppercase">
      no seu tempo, no seu momento, você conquista.
    </p>
    <p class="mb-2h light-text lh-1h fs-12 ls-0h footer-rules">
      * Consulte as regras e condições para liberação da linha de crédito no
      “Regulamento para a obtenção e manutenção dos incentivos especiais e
      exclusivos do Plano Pontual – Consórcio”.
      <br>
      * A linha de crédito especial disponibilizada pelo Banco Rodobens está
      limitada ao valor do crédito da cota de consórcio contratada.
    </p>
    <a href="/pdf/politica-de-privacidade-consorcio-pontual-rodobens.pdf"
       rel="noreferrer"
       target="_blank"
       aria-label="Política de Privacidade Consórcio Pontual Rodobens"
       class="mb-md-2h py-1 fs-12 d-inline-block footer-link text-underline">
      Política de Privacidade
    </a>
    <span class="px-1 fs-12 footer-link d-none d-md-inline-block">|</span>
    <a href="/pdf/regulamento-plano-pontual-automoveis.pdf"
       rel="noreferrer"
       target="_blank"
       aria-label="Regulamento Plano Pontual Automóveis"
       class="mb-md-2h py-1 fs-12 d-inline-block footer-link text-underline">
      Regulamento Plano Pontual Automóveis
    </a>
    <span class="px-1 fs-12 footer-link d-none d-md-inline-block">|</span>
    <a href="/pdf/regulamento-plano-pontual-automoveis-grupo-6790.pdf"
       rel="noreferrer"
       target="_blank"
       aria-label="Regulamento Plano Pontual Automóveis"
       class="mb-1 mb-md-2h py-1 fs-12 d-inline-block footer-link text-underline">
      Regulamento Plano Pontual Automóveis Grupo 6790
    </a>
    <p class="mb-0 regular-text ls-1 fs-11 ls-4">
      Desenvolvido por
      <a href="https://fmd.ag"
         rel="noreferrer"
         target="_blank"
         class="text-reset ls-4"
         aria-label="Agência F&MD">Agência F&MD
      </a>
    </p>
  </div>
</footer>

<div class="d-none js-browser-sync-active">true</div>
    <script src="/js/frontend.js"></script>
<script id="__bs_script__">//<![CDATA[

    const browserSync = document.querySelector('.js-browser-sync-active');

    if (!browserSync.textContent) {
      document.write(
          '<script async src=\'http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.3\'><\/script>'.replace(
              'HOST',
              location.hostname,
          ));
    }
    //]]></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>